em {
  color: blue;
}

u {
  text-decoration: underline double purple;
}
q {
  background-color: rgba(0, 0, 0, 1), hsla(0, 0, 0, 1);
}
#naglowektabeli {
  background-color: rgb(0, 153, 255);
}
#lista {
  background-color: rgb(240, 240, 158);
}
